<% include header %>
<link rel="stylesheet" href="/css/divanim.css">
<link rel="stylesheet" href="/css/need.css">
</head>
<body>

    <% include navbar %>

    <!-- Wrapper
    ================================================== -->
<div class="container" id="wrapper">
    <div class="row">
          <!-- content
        ================================================== -->
        <div class="span12 content">
           <div class="container"> 
				<div class="contact">
				<h1>Kontakt oss</h1>
				<h3>Support</h3>
				<p>Se gjerne igjennom vår <a href="https://divid.no/faq">faq</a> - ofte stilte spørsmål - før dere sender mail på support(a)divid.no . </a>
				<h3>Business</h3>
				<p>Ønsker du å kontakte oss for kjøp av annonseplass, forretninger og lignende ta kontakt på pr(a)divid.no.</p>
				</div>
				<div class="about">
				<div class="anim view-3D set-speed zoom-large">
    <div id="scene" class="scale-stretched">
        <div id="situation" class="divid"> <div id="activity1" class="orbit">
            <div class="pos">
              <div class="object">
              </div>
            </div>
        </div>
        <div id="activity2" class="orbit">
            <div class="pos">
              <div class="object">
              </div>
            </div>
        </div>
        <div id="activity3" class="orbit">
            <div class="pos">
              <div class="orbit">
                <div class="pos">
                  <div class="satelite"></div>
                </div>
              </div>
              <div class="object">
              </div>
            </div>
          </div>
        <div id="activity4" class="orbit">
            <div class="pos">
              <div class="object">
              </div>
            </div>
        </div>
	</div>
				<h1>Om teamet DERS</h1>
					<div class="member">
						<h3>Dennis Eriksen<h3>
						<img src="/img/dennis.jpg">
						<p>Alder:</p>
						<p>Ifra:Skien</p>
						<p>Mobil:</p>
						<p>Fokus:</p>
						<p>Favoritt ting:Unicorns</p>
					</div>
					<div class="member">
						<h3>Erling Aaby<h3>
						<img src="/img/erling.jpg">
						<p>Alder:</p>
						<p>Ifra:Oslo</p>
						<p>Mobil:</p>
						<p>Fokus:</p>
						<p>Favoritt ting:trening</p>
					</div>
					<div class="member">
						<h3>Robert Joramo<h3>
						<img src="/img/robert.jpg">
						<p>Alder:</p>
						<p>Ifra:Årnes</p>
						<p>Mobil:</p>
						<p>Fokus:</p>
						<p>Favoritt ting:Fopal</p>
					</div>
					<div class="member">
						<h3>Stian Olsen<h3>
						<img src="/img/stian.jpeg">
						<p>Alder:</p>
						<p>Ifra:Trondheim</p>
						<p>Mobil:</p>
						<p>Fokus:</p>
						<p>Favoritt ting:Korboi <3 </p>
					</div>
				</div>
		   </div>
		</div>   
   </div><!-- /div.row -->
</div><!-- /div#wrapper -->
	<!--<div id="footer">
      <div class="container">
      </div>
    </div>-->
<% include footer %>
</body>
</html>