<% include header %>
</head>
<body>
    <% include navbar %>

    <!-- Wrapper
    ================================================== -->
    <div class="container" id="wrapper">
    <div class="row-fluid row" style="background-color: #f99">

        <div class="span5" style="background-color: #99f">
            <h1>Prosjekter</h1>
            <section class="projects">
                <section class="project">
                    <h1>Hyttetur</h1>
                    Dennis, Robert, Turid-Laila
                </section>
                <section class="project">
                </section>
                <section class="project">
                </section>
            </section>
        </div><!-- /div.span5 -->
        <div class="span7">
            HER KOMMER EN GRAF
        </div><!-- /div.span7 -->







    </div><!-- /div.row -->
    </div><!-- /div.#wrapper -->

<% include footer %>
