<% include header %>
</head>
<body>
    <% include navbar %>

    <!-- Wrapper
    ================================================== -->
    <div class="container" id="wrapper">
    <div class="row-fluid row" style="background-color: #f99">

        <div class="span5 pid22" style="background-color: #fff">
            <h1>Prosjekter</h1>
            <section class="projects">
                <section class="project">
                    <div class="row-fluid">
                        <div class="span11">
                            <h1><a href="/dennisse/hyttetur">dennisse/<strong>hyttetur</strong></a></h1>
                            <span class="participants">Meg, Robert, Turid-Laila</span>
                        </div>
                        <div class="span1">
                                <p>+</p>
                        </div>
                    </div>
                </section>
                <section class="project">
                    <h1><a href="/kurt/Kollektivet">kurt/<strong>Kollektivet</strong></a></h1>
                    <span class="participants">Meg, Kurt, Stian</span>
                </section>
                <section class="project">
                    <h1><a href="/turidl/Kosekveldene">turidl/<strong>Kosekveldene</strong></a></h1>
                    <span class="participants">Meg, Turid-Laila</span>
                    <a class="btn" type="button">+</a>
                </section>
                <a class="btn btn-large btn-block" type="button">+</a>
            </section>
        </div><!-- /div.span5 -->
        <div class="span7">
            <section class="chart">
                
            </section>
            <section calss="overview">
            </section>
        </div><!-- /div.span7 -->







    </div><!-- /div.row -->
    </div><!-- /div.#wrapper -->

<% include footer %>
