<% include header %>
</head>
<body>

    <% include navbar %>

    <!-- Wrapper
    ================================================== -->
    <div class="container" id="wrapper">
    <div class="row">
          <!-- content
        ================================================== -->
        <div class="span12 content">
           <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
				<div class="showcase">
				<div class="span3">
				<h2>Prøv Divid</h2>
				<h4>Divid når du har bruk for det<h4>
				<p>Samarbeid om utgifter og felles utlegg i forskjellige situasjoner på en oversiktlig måte</p>
				<p>Få bedre oversikt og kontroll over egen økonomi og økonomi i sosial sammenheng</p>
				<a href="#" class="btn btn-warning btn-large registrer row">Registrer »</a>
				</div>
				<div class="animation span8">
					<div class="screen"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="span12 content">
		<div class="container">
        <!-- Example row of columns -->
			<div class="row">
				<div class="span3 infobox">
						<h4>Passer for alle</h4>
						  <p>Divid er for alle. Å dele er sosialt og derfor holder Divid det sosialt.</p>
						  <p><a class="btn btn-warning btn-small infobtn" href="#">finn ut mer »</a></p>
				</div>
				<div class="span3 infobox">
						<h4>Situasjon</h4>
						  <p>Hvilke bruksområder kan jeg bruke Divid?</p>
						  <p><a class="btn btn-warning btn-small infobtn" href="#">finn ut mer »</a></p>
				</div>
				<div class="span3 infobox">
						<h4>Hvordan bruke divid</h4>
						  <p>Vi viser deg hvor enkelt det er å bruke Divid.</p>
						  <p><a class="btn btn-warning btn-small infobtn" href="#">finn ut mer »</a></p>
				</div>
			</div>
			<hr>
    </div> 
	<div class="span12 content">
		<div class="container">
		
		</div>
	</div>
	
    </div><!-- /div.row -->
    </div><!-- /div#wrapper -->

<% include footer %>
</body>
</html>
