<% include header %>
<link rel="stylesheet" href="/css/devanim.css">
</head>
<body>

    <% include navbar %>

    <!-- Wrapper
    ================================================== -->
<div class="container" id="wrapper">
    <div class="row">
          <!-- content
        ================================================== -->
        <div class="span12 content">
           <div class="container row">

      <!-- Main hero unit for a primary marketing message or call to action -->
				<div class="span12 showcase row">
                    <div class="span5 pitch">
                        <div class="span12 row">
                            <h1>Samarbeid om utgifter</h1>
							<p>Divid er en delingstjeneste som regner ut hva folk skylder hverandre</p>
						    <ul class="blue">
								</li><h3><i class="icon-pencil"></i> Registrer deg gratis</h3></li>
							    </li><h3><i class="icon-play"></i> Opprett prosjekt</h3></li>
							    </li><h3><i class="icon-user"></i> Inviter deltakere</h3></li>
							    </li><h3><i class="icon-barcode"></i> Før inn utgiftene</h3></li>
								</li><h3><i class="icon-ok"></i> Ta et oppgjør</h3></li>
                            </ul>
                        </div>
                        <div class="span12 row">
							<p>Perfekt for venner, familie og bekjente</p>
					    	<a href="#" class="btn btn-large register">Registrer »</a>
                        </div>
                    </div>
					<div class="span7 dash">
					<img src="/img/dashboard.png">
					</div>
				</div>
			</div>
		</div>
		<div class="span12 content">
		<div class="container">
        <!-- Example row of columns -->
			<div class="row">
				<div class="span3 infobox" id="first">
						<img class="infoimg" src="/img/laptop.png">
						<h4>Bruk mobil eller nettleser</h4>
						  <p>Divid er en webapplikasjon og kan brukes på pc, nettbrett og mobil. Uansett hva du bruker er Divid tilgjengelig.</p>
				</div>
				<div class="span3 infobox" id="second">
						<img class="infoimg" src="/img/addpeople.png">
						<h4>Inviter de du vil</h4>
						  <p>Inviter deltakere til prosjekt ved å legge til epost-adressen deres eller send dem en link!</p>
				</div>
				<div class="span3 infobox" id="third">
						<img class="infoimg" src="/img/overwatch.png">
						<h4>Få oversikt</h4>
						<p>Ikke la delte utgifter gå i glemmeboken. Send påminnelser og få varsel når deltakere betaler.</p>
				</div>
			</div>
			<div id="hva" class="span12 content">
				<div class="container last">
				<div class="span12">
				<h1>Hva kan Divid brukes til</h1>
				</div>
				<div class="span2 scenario">
						<img src="/img/student.png">
						<h4>Studentkollektiv</h4>
						<p>Fellesutgifter, fester, bøter, bursdager, øl, mat, strøm</p>
				</div>
				<div class="span2 scenario">
						<img src="/img/fest.png">
						<h4>Singelliv</h4>
						<p>Ute på farten, stelle i stand aktiviter med andre, sydentur osv</p>
				</div>
				<div class="span2 scenario">
						<img src="/img/par.png">
						<h4>Parforhold</h4>
						<p>I etableringsfasen som ønsker å ha ordnet økonomi fra starten av</p>
				</div>
				<div class="span2 scenario">
						<img src="/img/omsorg.png">
						<h4>Distribuert familie</h4> <!--eller skilt par med--!>
						<p>eller</p>
						<h4>Delt omsorg</h4>
						<p>Hvem betaler hva for hans, hennes og deres barn?</p>
						<!--<p>klær, mat, reiser, aktiviteter, sport, skolebøker, tannlege, medisiner</p>--!>
				</div>
				</div>
				</div>
			</div>
			<div id="hvor" class="span12 content">
				<div class="container last">
					<div class="span6 sectionleft">
						<h1>Hvordan bruke Divid</h1>
					</div>
					<div class="span6 sectionright">
						<h1>Tilgjengelig via:</h1>
					</div>
					<div class="span7 sectionleft">
						<div class="span5 sectionleft tutorial">
							<iframe src="http://player.vimeo.com/video/41974181" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
						</div>
					</div>
					<div class="span5 sectionright">
						<a href="https://itunes.apple.com/us/genre/ios-finance/id6015?mt=8"><img src="/img/iph.png" onmouseover="this.src='/img/iphoneA.png'" onmouseout="this.src='/img/iph.png'"></a>
						<a href="https://play.google.com/store"><img src="/img/android.png" onmouseover="this.src='/img/androidA.png'" onmouseout="this.src='/img/android.png'"></a>
						<a href="http://www.windowsphone.com/nb-no/store"><img src="/img/win.png" onmouseover="this.src='/img/winA.png'" onmouseout="this.src='/img/win.png'"></a>
					</div>
				</div>
			</div>
		<div id="hvordan" class="span12 content">
			<div class="container last">
				<input type="hidden" id="userId">
    <div id="account-form-container">
        <form method="post" id="account-form" class="form-horizontal well span6">
        <h1></h1>
        <h1>Registrering</h1>
        <hr>
        <fieldset>
            <div id="name-cg" class="control-group">
                <label for="name-tf" class="control-label">Name</label>
                <div class="controls">
                    <input id="name-tf" type="text" name="name" class="input-xlarge">
                </div>
            </div>
            <div id="email-cg" class="control-group">
                <label for="email-tf" class="control-label">Email</label>
                <div class="controls">
                    <input id="email-tf" type="text" name="email" class="input-xlarge">
                </div>
            </div>
            <hr>
            <p id="sub2" class="subheading"></p>
            <div id="user-cg" class="control-group">
                <label for="user-tf" class="control-label">Username</label>
                <div class="controls">
                    <input id="user-tf" type="text" name="username" class="input-xlarge disabled">
                </div>
            </div>
            <div id="pass-cg" class="control-group">
                <label for="pass-tf" class="control-label">Password</label>
                <div class="controls">
                    <input id="pass-tf" type="password" name="password" value="" class="input-xlarge">
                </div>
            </div>
            <div class="form-actions cut">
                <button type="button" id="account-form-btn1" class="btn">Avbryt</button>
                <button type="submit" id="account-form-btn2" class="btn">Registrer</button>
            </div>
        </fieldset>
        </form>
    </div>
    </div> 
    </div><!-- /div.row -->
	</div><!-- /div#wrapper -->
	<!--<div id="footer">
      <div class="container">
        <p>!!!!!!!!!!!!!!!!!!!!</p>
      </div>
    </div>-->
<% include footer %>
</body>
</html>
