<% include header %>
<link rel="stylesheet" href="/css/devanim.css">
</head>
<body>

    <% include navbar %>

    <!-- Wrapper
    ================================================== -->
    <div class="container" id="wrapper">
    <div class="row">
          <!-- content
        ================================================== -->
        <div class="span12 content">
           <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
				<div class="showcase">
				<div class="span3">
				<h2>Prøv Divid</h2>
				<p>Divid når du har bruk for det</p>
				<p>Samarbeid om utgifter og felles utlegg i forskjellige situasjoner på en oversiktlig måte</p>
				<p>Få bedre oversikt og kontroll over egen økonomi og økonomi i sosial sammenheng</p>
				<a href="#" class="btn btn-warning btn-large registrer row">Registrer »</a>
				<img src="/img/appstore.png" class="marketbtn">
				<img src="/img/googleplay.png" class="marketbtn">
				</div>
				<div class="animation span8">
					<div class="screen"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="span12 content">
		<div class="container">
        <!-- Example row of columns -->
			<div class="row">
				<div class="span3 infobox">
						<h4>Bruk mobil eller nett/h4>
						  <p>Uansett hva du benytte Divid tilgjengelig. Divid er tilgjengelig på alle plattformer og gjør derfor deling av utgifter enklere mellom deg og andre.</p>
						  <p><a class="btn btn-warning btn-small infobtn" href="#">finn ut mer »</a></p>
				</div>
				<div class="span3 infobox">
						<h4>Inviter de du vil</h4>
						  <p></p>
						  <p><a class="btn btn-warning btn-small infobtn" href="#">finn ut mer »</a></p>
				</div>
				<div class="span3 infobox">
						<h4>Ta kontroll</h4>
						<p>I et prosjekt kan du ha mange deltagere som skal dele på den samme regningen. Send påminnelser til sene betalere og få varsel når deltakere betaler.</p>
						  <p><a class="btn btn-warning btn-small infobtn" href="#">finn ut mer »</a></p>
				</div>
			</div>
			<hr>
    </div> 
	<div class="span12 content">
		<div class="container">
		<h1>Passer for alle</h1>
		<p>Divid er for alle. Å dele er sosialt og derfor holder Divid det sosialt.</p>
		</div>
	</div>
	<div class="span12 content">
		<div class="container">
		<h1>Situasjon</h1>
		<p>Hvilke bruksområder kan jeg bruke Divid?</p>
		</div>
	</div>
	<div class="span12 content">
		<div class="container">
			<div class="span4">
				<h1>Hvordan bruke divid</h1>
				<p>Vi viser deg hvor enkelt det er å bruke Divid.</p>
				<p></p>
			</div>
			<div class="tutorial">
			<iframe src="http://player.vimeo.com/video/41974181" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
			</div>
		</div>
    </div><!-- /div.row -->
    </div><!-- /div#wrapper -->

<% include footer %>
</body>
</html>
