<% include header %>
<link rel="stylesheet" href="/css/devanim.css">
</head>
<body>

    <% include navbar %>

    <!-- Wrapper
    ================================================== -->
    <div class="container" id="wrapper">
    <div class="row">
          <!-- content
        ================================================== -->
        <div class="span12 content">
           <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
				<div class="showcase">
				<div class="span3">
				<h2>Prøv Divid</h2>
				<h4>Opprett prosjekt</h4>
				<br>
				<h4>Inviter deltakere</h4>
				<br>
				<h4>Del utgifter</p></h4>
				<a href="#" class="btn btn-warning btn-large registrer row">Registrer »</a>
				<img src="/img/appstore.png" class="marketbtn">
				<img src="/img/googleplay.png" class="marketbtn">
				</div>
				<div class="animation span9">
					<div class="screen"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="span12 content">
		<div class="container">
        <!-- Example row of columns -->
			<div class="row">
				<div class="span3 infobox">
						<img class="infoimg" src="/img/laptop.png">
						<h4>Bruk mobil eller nett</h4>
						  <p>Uansett hva du benytte Divid tilgjengelig. Divid er tilgjengelig på alle plattformer og gjør derfor deling av utgifter enklere mellom deg og andre.</p>
				</div>
				<div class="span3 infobox">
						<img class="infoimg" src="/img/addpeople.png">
						<h4>Inviter de du vil</h4>
						  <p>Divid gjør deling av utgifter enklere. Alt du trenger for å delta i et prosjekt i er en epost-adresse!</p>
				</div>
				<div class="span3 infobox">
						<img class="infoimg" src="/img/overwatch.png" >
						<h4>Ta kontroll</h4>
						<p>I et prosjekt kan du ha mange deltagere som skal dele på den samme regningen. Send påminnelser til sene betalere og få varsel når deltakere betaler.</p>
				</div>
			</div>
			<hr>
    </div> 
	<div class="span12 content">
		<div class="container">
		<h1>Passer for alle</h1>
		<p>Divid er for alle. Å dele er sosialt og derfor holder Divid det sosialt.</p>
		</div>
	</div>
	<div class="span12 content">
		<div class="container">
		<h1>Situasjon</h1>
		<p>Hvilke bruksområder kan jeg bruke Divid?</p>
		<ul>
		<li>Bruk appen fra din Iphone, Android eller windows mobile. Du kan legge til utgifter og utlegg underveis.</li>
		</ul>
		</div>
	</div>
	<div class="span12 content">
		<div class="container">
				<h1>Hvordan bruke divid</h1> <!-- Vi viser deg hvor enkelt det er å bruke Divid.--!>
				<ul>
				<li>Vi tar bryet og løser delingen rettferdig. Ikke la uvissheten om at du glemmer eller manglende tillit til folk hindre deg i dele eller låne. Divid hjelper deg med å holde oversikt over dine utlegg og lån.</li>
				<li>Hold venner og bekjente oppdatert med hva de skylder deg og vice versa.<li>
				<li>Du slipper kvitteringer - ta bilde av de og kast de i søpla. Bildene lastes opp til Divids servere så har du de senere hvis det er bruk for de.</li>
				<li>Eller ta bilde av personen med gjenstanden vedkommende har lånt av deg.</li>
				</ul>
				<p>Lei av reklame? Gå for premium applikasjonen</p>
			<div class="tutorial">
				<iframe src="http://player.vimeo.com/video/41974181" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
			</div>
		</div>
    </div><!-- /div.row -->
    </div><!-- /div#wrapper -->

<% include footer %>
</body>
</html>
