<% include header %>
<link rel="stylesheet" href="/css/devanim.css">
</head>
<body>

    <% include navbar %>

    <!-- Wrapper
    ================================================== -->
<div class="container" id="wrapper">
    <div class="row">
          <!-- content
        ================================================== -->
        <div class="span12 content">
           <div class="container row">

      <!-- Main hero unit for a primary marketing message or call to action -->
				<div class="span12 showcase row">
                    <div class="span5 pitch">
                        <div class="span12 row">
                            <h1>Samarbeid om utgifter</h1>
							<p>Dette er en delingstjeneste som regner ut hva folk skylder hverandre</p>
						    <ul>
								</li><h4><i class="icon-play"></i> Registrer deg gratis</h4></li>
							    </li><h4><i class="icon-play"></i> Opprett prosjekt</h4></li>
							    </li><h4><i class="icon-user"></i> Inviter deltakere</h4></li>
							    </li><h4><i class="icon-barcode"></i> Før inn utgiftene</h4></li>
								</li><h4><i class="icon-ok"></i> Ta et oppgjør</h4></li>
                            </ul>
                            <hr class="divideLine"/>
                        </div>
                        <div class="span12 row">
					    	<a href="#" class="btn btn-large register">Registrer »</a>
					    	<p>Det er helt gratis!</p>
					    	<h4>Prøv også Divid appen:</h4>
					    	<img href="#" src="/img/appstore.png" class="marketbtn">
					    	<img href="#" src="/img/googleplay.png" class="marketbtn">
                        </div>
                    </div>
					<div class="span7 dash">
					<img src="/img/dashboard.png">
					</div>
				</div>
			</div>
		</div>
		<div class="span12 content">
		<div class="container">
        <!-- Example row of columns -->
			<div class="row">
				<div class="span3 infobox" id="first">
						<img class="infoimg" src="/img/laptop.png">
						<h4>Bruk mobil eller nett</h4>
						  <p>Uansett hva du benytter er Divid tilgjengelig. Divid er tilgjengelig på alle plattformer og gjør derfor deling av utgifter enklere mellom deg og andre.</p>
				</div>
				<div class="span3 infobox" id="second">
						<img class="infoimg" src="/img/addpeople.png">
						<h4>Inviter de du vil</h4>
						  <p>Divid gjør deling av utgifter enklere. Alt du trenger for å delta i et prosjekt i er en epost-adresse!</p>
				</div>
				<div class="span3 infobox" id="third">
						<img class="infoimg" src="/img/overwatch.png">
						<h4>Ta kontroll</h4>
						<p>I et prosjekt kan du ha mange deltagere som skal dele på den samme regningen. Send påminnelser til sene betalere og få varsel når deltakere betaler.</p>
				</div>
			</div>
			<div id="hvem" class="span12 content">
				<div class="container last">
					<div class="span6 sectionright">
						<h1>Hvem er denne tjenesten for?</h1>
						<h5>Divid er for alle. Å dele er sosialt og derfor holder Divid det sosialt.</h5>
						<ul>
							<li>Studenter - i kollektiv</li>
							<li>Singel - ute på farten i sosialt lag</li>
							<li>Par - i etableringsfasen og felles økonomi</li>
							<li>Distribuert familie - hennes barn og hans barn - Hvem betaler for hva?</li>
							<li>Skilt par med felles barn - hvem og hvor mye betaler for barnet?</li>
							<li>Person som vil ha kontroll </li> <!--"over hvor tingene hans er"--!>
						</ul>
					</div>
					<div class="span6 sectionleft">
					
					</div>
				</div>
			</div>
			<div id="hvor" class="span12 content">
				<div class="container last">
					<div class="span7 sectionleft">
						<h1>Når bruke Divid?</h1>
						<p>Hvilke bruksområder kan jeg bruke Divid?</p>
						<ul>
							<li>Bruk appen fra din Iphone, Android eller windows mobile</li>
							<li>Du kan legge til utgifter og utlegg underveis</li>
							<li></li>
						</ul>
					</div>
					<div class="span5 sectionright">	
					<img src="/img/iph.png" class="infoimg">
					<img src="/img/android.png" class="infoimg">
					<img src="/img/win.png" class="infoimg">
					</div>
				</div>
			</div>
		<div id="hvordan" class="span12 content">
			<div class="container last">
				<div class="span6 sectionright">
				<h1>Hvordan bruke divid</h1> <!-- Vi viser deg hvor enkelt det er å bruke Divid.--!>
					<ul>
						<h4><i class="icon-chevron-right icon-white"></i> Vi tar bryet og løser delingen rettferdig</h4>
						</br>
						<h4><i class="icon-chevron-right icon-white"></i> Divid hjelper deg med å holde oversikt over dine utgifter, utlegg og lån</h4> <!--Ikke la uvissheten om at du glemmer eller manglende tillit til folk hindre deg i dele eller låne.--!>
						</br>
						<h4><i class="icon-chevron-right icon-white"></i> Hold venner og bekjente oppdatert eller purr de med hva de skylder deg og vice versa</h4>
						</br>
						<h4><i class="icon-chevron-right icon-white"></i> Ta bilde av kvitteringene eller en utlånt gjenstand med Divid bildebank for senere gjennomsyn</h4><!--Du slipper kvitteringer - ta bilde av de og kast de i søpla. Bildene lastes opp til Divids servere så har du de senere hvis det er bruk for de.--!> 
					</ul>
				</div>
				<div class="span5 sectionleft tutorial">
				<iframe src="http://player.vimeo.com/video/41974181" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
				</div>
			</div>
		</div>
		<div id="register" class="span12 content">
			<div class="container last">
				<div class="span6 sectionright">
					<h1>Registrering?</h1> <!--Stian mente du ville ha denne nederst? Jeg trodde den skulle være frittflytende over alt.--!>
				</div>
			</div>
		</div>
			<hr>
    </div> 
    </div><!-- /div.row -->
	</div><!-- /div#wrapper -->
	<!--<div id="footer">
      <div class="container">
        <p>!!!!!!!!!!!!!!!!!!!!</p>
      </div>
    </div>-->
<% include footer %>
</body>
</html>
