<% include header %>

</head>
<body>
    <% include navbar %>

    <!-- Wrapper
    ================================================== -->
    <div class="container" id="wrapper">
    <div class="row-fluid">


        <form class="form-horizontal" action="/project/new" method="post">
        <fieldset>

            <h1><legend><%= title %></legend></h1>

        <div class="control-group">
            <label class="control-label">Prosjektnavn</label>
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on">u/fb.dennis.se/</span>
                    <input id="projectname" name="name" placeholder="" class="span12" type="text" required="" maxlength="40">
                </div>
                <p class="help-block">Navnet på prosjektet du vil lage</p>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Beskrivelse</label>
            <div class="controls">
                <textarea id="description" name="description" class="span6">Beskrivelse av prosjekt</textarea>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Valuta</label>
            <div class="controls">
                <input id="currency" name="currency" type="text" placeholder="kr" class="span2" required="">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Invite only eller offentlig?</label>
            <div class="controls">
                <label class="radio">
                <input type="radio" name="public" value="Invite only" checked="checked">
                Invite only
                </label>
                <label class="radio">
                <input type="radio" name="public" value="Offentlig">
                Offentlig
                </label>
            </div>
        </div>


        <div class="control-group">
            <label class="control-label">Double Button</label>
            <div class="controls">
                <button type="submit" id="button1id" name="button1id" class="btn btn-primary">Opprett prosjekt</button>
                <button type="reset" id="button2id" name="button2id" class="btn">Nullstill</button>
            </div>
        </div>

        </fieldset>
        </form>







    </div><!-- /div.row -->
    </div><!-- /div.#wrapper -->


<% include footer %>
</body>
</html>
