<% include header %>

</head>
<body>
    <% include navbar %>

    <!-- Wrapper
    ================================================== -->
    <div class="container" id="wrapper">
    <div class="row-fluid">

    </div><!-- /div.row -->
    </div><!-- /div.#wrapper -->


<% include footer %>
</body>
</html>
