<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title><%= title %></title>
    <meta name="description" content="" />
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <!-- <link rel="stylesheet" href="/css/docs.css" /> -->

    </head>
<body>
    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner" id="top-navbar">
            <div class="container">
                <% if (!loggedin) { %>
                <div class="row-fluid collapse login-collapse">
                    <div class="span7">
                        <!--<img src="/img/logo_white.png">-->
                    </div>
                    <div class="span5">
                        <form action="/login" method="post" id="login-form" class="form-horizontal">
                            <div class="control-group">
                                <div class="input-prepend">
                                    <span class="add-on"><i class="icon-envelope icon-white"></i></span>
                                    <input type="email" name="user" id="user-tf" placeholder="E-post" required>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="input-prepend">
                                    <span class="add-on"><i class="icon-lock icon-white"></i></span>
                                    <input type="password" id="pass-tf" placeholder="Passord" required>
                                    </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span7">
                                    <label class="checkbox">
                                        <input type="checkbox"> Remember me
                                    </label>
                                </div>
                                <div class="span5">
                                    <button type="submit" class="btn btn-inverse btn-small">Logg inn</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <% } %>
                <div class="row">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="#">Divid</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li><a href="#signup">signup</a></li>
                            <li><a href="#dashboard">Dashboard</a></li>
                        </ul>
                    </div>
                    <% if(!loggedin) { %><a class="brand login" data-toggle="collapse" data-target=".login-collapse" href="#login">Logg inn</a>
                    <% } else { %><a class="brand login">Logg ut</a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

    <!-- Wrapper
    ================================================== -->
    <div class="container" id="wrapper">
    <div class="row">
        <!-- docs navbar
        ================================================== -->
        <div class="span3 bs-docs-sidebar">
            <ul class="nav nav-list bs-docs-sidenav affix">
                <li><a href="#"><i class="icon-chevron-right"></i> Stian og hans mor</a></li>
                <li><a href="#"><i class="icon-chevron-right"></i> Mora til Stian og RBK</a></li>
                <li><a href="#tits"><i class="icon-chevron-right"></i> Mora til Erling</a></li>
            </ul>
        </div>


        <!-- content
        ================================================== -->
        <div class="span9 content">
            <section class="content">
                <h1><%= title %></h1>
                <p>Velkommen til <%= title %></p>
                <p>Her kommer det <em>kanskje</em> mer senere.</p>
            </section>
            <section class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vestibulum, mauris molestie interdum venenatis, sapien diam vestibulum arcu, sit amet ultrices urna sem et ipsum. Pellentesque dapibus tellus tristique augue sollicitudin mollis. Donec consectetur scelerisque lacus sit amet ullamcorper. Maecenas lectus ante, iaculis vitae consequat quis, viverra non lacus. Vestibulum vestibulum lacinia ullamcorper. Nam facilisis blandit turpis sit amet ultricies. Nulla facilisi. Donec non quam risus. Suspendisse venenatis nisl ut dolor imperdiet in eleifend nulla sagittis. Cras facilisis tempus sapien. In dapibus sodales aliquet. Nullam blandit, elit non convallis congue, velit augue facilisis odio, vel blandit turpis purus nec eros. Donec vel ipsum tellus, id lobortis justo. Vivamus ac porta nisi. Suspendisse malesuada convallis velit, non eleifend metus vehicula vitae. Ut pretium, diam nec iaculis gravida, nunc lacus accumsan arcu, et laoreet elit justo nec libero.</p>
                <p>Integer sit amet lacus lectus, quis laoreet nisl. Pellentesque ut augue odio, eget placerat mauris. Phasellus tortor libero, placerat at interdum id, luctus scelerisque ipsum. Maecenas auctor feugiat aliquam. Nullam eu lorem quis est euismod elementum. Integer sit amet nulla at dui semper pellentesque eget id sem. Sed bibendum nisl id eros ullamcorper ut condimentum justo tempus. Nam eget neque arcu, ac pulvinar justo. Nunc ac justo vel risus ultrices aliquam vel vehicula velit. Nullam faucibus, sapien eget volutpat commodo, erat ipsum congue ante, non facilisis lacus erat non eros. Pellentesque facilisis semper nibh ac tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae magna massa, eu laoreet libero.</p>
            </section>
            <section id="tits" class="content">
                <h2>Tits</h2>
                <img src="http://i.imgur.com/tgFf0gc.png" class="img-polaroid" />
                <p>Cras ac erat arcu, condimentum posuere lectus. Suspendisse mollis volutpat ipsum, ac posuere quam rutrum vitae. Nullam dignissim, diam eu posuere blandit, diam nibh congue eros, a posuere magna diam ut metus. Sed vehicula commodo lobortis. Aliquam erat volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam a purus lorem, non laoreet libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras bibendum, ligula non tristique consequat, erat lacus porttitor orci, eu viverra ipsum nunc nec risus.</p>
                <p> Donec vitae felis et quam tempor vestibulum vel at diam. Donec felis mauris, euismod vel interdum ac, commodo quis nunc. Nulla nec libero diam, in tempus arcu. Cras justo neque, sodales vel rhoncus nec, placerat ut nunc. Mauris convallis urna non erat varius malesuada. Curabitur eu mauris purus, ut suscipit lorem. Ut convallis varius lacus nec sollicitudin. Fusce egestas ultricies justo, et gravida neque mollis vel. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
            </section>
        </div><!-- /div.span9 -->
    </div><!-- /div.row -->
    </div><!-- /div#wrapper -->




    <!--
        Le javascript
        ==================================================
        Placed at the end of the document so the pages load faster
    -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.9.0.min.js"><\/script>')</script>
    <script src="/js/bootstrap.min.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','/js/analytics.js','ga');
        ga('create', 'UA-39435674-1', 'divid.no');
        ga('send', 'pageview');
    </script>
</body>
</html>
