<% include header %>
<link href="/css/divanim.css" rel="stylesheet" media="screen">
</head>
<body>

    <% include navbar %>

    <!-- Wrapper
    ================================================== -->
    <div class="container" id="wrapper">
    <div class="row">
        <!-- docs navbar
        ================================================== -->
        <div class="span3 bs-docs-sidebar">
            <ul class="nav nav-list bs-docs-sidenav affix">
                <li><a href="#"><i class="icon-chevron-right"></i> Smurfetits</a></li>
                <li><a href="#"><i class="icon-chevron-right"></i> Gangnam Style</a></li>
                <li><a href="#tit"><i class="icon-chevron-right"></i> Scheiße</a></li>
            </ul>
        </div>


        <!-- content
        ================================================== -->
        <div class="span9 content">
            <section class="content">
                <h1><%= title %></h1>
			<div class="anim view-3D set-speed zoom-large">
				<div id="scene" class="scale-stretched">
					<div id="situation" class="divid"> 
						<div id="activity1" class="orbit">
							<div class="pos">
								<div class="object">
								</div>
							</div>
						</div>
						<div id="activity2" class="orbit">
							<div class="pos">
								<div class="object">
								</div>
							</div>
						</div>
						<div id="activity3" class="orbit">
							<div class="pos">
								<div class="orbit">
									<div class="pos">
										<div class="satelite">
										</div>
									</div>
								</div>
								<div class="object">
								</div>
							</div>
						</div>
						<div id="activity4" class="orbit">
							<div class="pos">
								<div class="object">
								</div>
							</div>
						</div>
						<div id="activity5" class="orbit">
							<div class="pos">
								<div class="object">
								</div>
							</div>
						</div>
						<div id="activity6" class="orbit">
							<div class="pos">
								<div class="object">
									<div class="ring">
									</div>
								</div>
							</div>
						</div>
						<div id="activity7" class="orbit">
							<div class="pos">
								<div class="object">
								</div>
							</div>
						</div>
						<div id="activity8" class="orbit">
							<div class="pos">
								<div class="object">
								</div>
							</div>
						</div>
						<div id="activity9" class="orbit">
							<div class="pos">
								<div class="object">
								</div>
							</div>
						</div>
						<div id="activity10" class="orbit">
							<div class="pos">
								<div class="object">
								</div>
							</div>
						</div>
						<div id="divid">
						</div>
					</div>
				</div>
			</div>
				
                <p>Velkommen til <%= title %></p>
                <p>Her kommer det <em>kanskje</em> mer senere.</p>
            </section>
            <section class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vestibulum, mauris molestie interdum venenatis, sapien diam vestibulum arcu, sit amet ultrices urna sem et ipsum. Pellentesque dapibus tellus tristique augue sollicitudin mollis. Donec consectetur scelerisque lacus sit amet ullamcorper. Maecenas lectus ante, iaculis vitae consequat quis, viverra non lacus. Vestibulum vestibulum lacinia ullamcorper. Nam facilisis blandit turpis sit amet ultricies. Nulla facilisi. Donec non quam risus. Suspendisse venenatis nisl ut dolor imperdiet in eleifend nulla sagittis. Cras facilisis tempus sapien. In dapibus sodales aliquet. Nullam blandit, elit non convallis congue, velit augue facilisis odio, vel blandit turpis purus nec eros. Donec vel ipsum tellus, id lobortis justo. Vivamus ac porta nisi. Suspendisse malesuada convallis velit, non eleifend metus vehicula vitae. Ut pretium, diam nec iaculis gravida, nunc lacus accumsan arcu, et laoreet elit justo nec libero.</p>
                <p>Integer sit amet lacus lectus, quis laoreet nisl. Pellentesque ut augue odio, eget placerat mauris. Phasellus tortor libero, placerat at interdum id, luctus scelerisque ipsum. Maecenas auctor feugiat aliquam. Nullam eu lorem quis est euismod elementum. Integer sit amet nulla at dui semper pellentesque eget id sem. Sed bibendum nisl id eros ullamcorper ut condimentum justo tempus. Nam eget neque arcu, ac pulvinar justo. Nunc ac justo vel risus ultrices aliquam vel vehicula velit. Nullam faucibus, sapien eget volutpat commodo, erat ipsum congue ante, non facilisis lacus erat non eros. Pellentesque facilisis semper nibh ac tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae magna massa, eu laoreet libero.</p>
            </section>
            <section id="tit" class="content">
                <h2>Would you?</h2>
                <a href="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-prn1/483553_10151560007790395_695693936_n.jpg"><img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-prn1/483553_10151560007790395_695693936_n.jpg" class="img-polaroid" /></a>
                <p>Cras ac erat arcu, condimentum posuere lectus. Suspendisse mollis volutpat ipsum, ac posuere quam rutrum vitae. Nullam dignissim, diam eu posuere blandit, diam nibh congue eros, a posuere magna diam ut metus. Sed vehicula commodo lobortis. Aliquam erat volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam a purus lorem, non laoreet libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras bibendum, ligula non tristique consequat, erat lacus porttitor orci, eu viverra ipsum nunc nec risus.</p>
                <p> Donec vitae felis et quam tempor vestibulum vel at diam. Donec felis mauris, euismod vel interdum ac, commodo quis nunc. Nulla nec libero diam, in tempus arcu. Cras justo neque, sodales vel rhoncus nec, placerat ut nunc. Mauris convallis urna non erat varius malesuada. Curabitur eu mauris purus, ut suscipit lorem. Ut convallis varius lacus nec sollicitudin. Fusce egestas ultricies justo, et gravida neque mollis vel. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
           </section>
        </div><!-- /div.span9 -->
    </div><!-- /div.row -->
    </div><!-- /div#wrapper -->

<% include footer %>
