/*
 * Divid stylesheet
 */

//Imports the bootstrap-variables
@import "variables.less";

// The rest comes here

body {
    margin-top: @navbarHeight;
	background-color:white;
}

section.content {
    padding: 30px 5px 5px;
}

#login-form {
    display: block;
    float:right;
    margin: 10px 0 0;
    color: @grayLighter;
}

#login-form  input {
    background-color: rgba(0,0,0,0);
}

#login-form .input-prepend .add-on {
    background-color: @grayDarker;
}

#login-form .btn {
    margin-top: -2px;
}

#login-form .form-horizontal .control-group:last-child {
    margin-bottom: 100px;
}

@top-navbar-bgColor: @black;

#top-navbar {

    min-height: 40px;
    vertical-align: 100px;
/*    background: rgba(red(@top-navbar-bgColor),green(@top-navbar-bgColor),blue(@top-navbar-bgColor),0.9);
*/
    #vertical(rgba(red(@top-navbar-bgColor),green(@top-navbar-bgColor),blue(@top-navbar-bgColor),0.9), rgba(red(@top-navbar-bgColor),green(@top-navbar-bgColor),blue(@top-navbar-bgColor),0.5));

    }
.nav .menu{
color: #FF9A00;
}
.navbar .brand.login {
    float: right;
    color: #FF9A00;
}

.bs-docs-sidenav {
    background-color: @white;
    width: 200px;
    top: 150px;
    padding: 0;
    margin: 0;

    -webkit-border-radius: @borderRadiusLarge;
       -moz-border-radius: @borderRadiusLarge;
            border-radius: @borderRadiusLarge;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
       -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
            box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

.bs-docs-sidenav > li > a {
    display: block;
    width: 190px \9;
    margin: 0 0 -1px;
    padding: 6px 14px;
    border: 1px solid @grayLighter;
}

.bs-docs-sidenav > li:first-child > a {
    -webkit-border-radius: 6px 6px 0 0;
       -moz-border-radius: 6px 6px 0 0;
            border-radius: 6px 6px 0 0;
}

.bs-docs-sidenav > li:last-child > a {
    -webkit-border-radius: 0 0 6px 6px;
       -moz-border-radius: 0 0 6px 6px;
            border-radius: 0 0 6px 6px;
}

.bs-docs-sidenav > li > a:hover {
    background-color: @grayLighter;
}

section.status table {
    width: 80%;
    margin-bottom: 0;
    float: left;
}
section.status table tr td {
    text-align: center;
}
section.status table tr td.success {
    background-color: @successBackground;
}
section.status table tr td.error {
    background-color: @errorBackground;
}
section.status i { margin: 5px; }

section.projects section.project {
    margin: 10px 0;
    padding: 0;

    border: 2px solid @grayLight;
    -webkit-border-radius: @borderRadiusLarge;
       -moz-border-radius: @borderRadiusLarge;
            border-radius: @borderRadiusLarge;
}

section.projects section.project h1 {
    font-size: @fontSizeLarge;
    padding: 0;
    margin: 0;
    font-weight: normal;
    line-height: @baseLineHeight;
}
section.projects section.project .row-fluid [class*="span"] {
    min-height: 0;
}
section.projects section.project .span11 {
    padding: 5px;
    border-right: 2px solid @grayLight;
}
section.projects section.project .span1 {
    display: inline-block;
    height: 100%;
    background-color: white;
    min-height: inherit;
    font-size: 3em;
}
section.projects a.btn-large {
    font-weight: bold;
    font-size: 3em;
    border: 2px solid @grayLight;
}


section.overview .lastactivity {
    -webkit-border-radius: @borderRadiusLarge;
       -moz-border-radius: @borderRadiusLarge;
            border-radius: @borderRadiusLarge;

}

section.overview .lastactivity > .activity {
    border-bottom: 1px solid @grayLight;
}
section.overview .lastactivity > .activity:last-child {
    border-bottom: none;
}
section.overview .lastactivity > .activity [class*="span"] {
}
[class*="span"] .info {
    font-size: @fontSizeMini;
    color: @grayLight;
}
section.overview .lastactivity > .activity [class*="span"] > .row-fluid [class*="span"] {
    min-height: 0;
}

.lastactivity .activity:nth-child(even) {
    background-color: @grayLighter;
}

div.lastactivity .activity .details {
    background-color: @infoBackground;
}

.text-small {
    font-size: @fontSizeSmall;
}
.no-text-decoration:hover {
    text-decoration: none;
}

#vertical(@startColor: #555, @endColor: #333) {
    background-color: mix(@startColor, @endColor, 60%);
    background-image: -moz-linear-gradient(top, @startColor, @endColor); // FF 3.6+
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@startColor), to(@endColor)); // Safari 4+, Chrome 2+
    background-image: -webkit-linear-gradient(top, @startColor, @endColor); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient(top, @startColor, @endColor); // Opera 11.10
    background-image: linear-gradient(to bottom, @startColor, @endColor); // Standard, IE10
    background-repeat: repeat-x;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb(@startColor),argb(@endColor))); // IE9 and down
}

.infobox {
background-color: FFFFFF;
border: #0D56A6 2px;
margin:15px;
padding:35px;
height: 220px;
-webkit-border-radius: 15px;
        -moz-border-radius: 15px;
            border-radius: 15px;
}

.registrer {
margin-left: 20px;
}

.showcase {
    width:900px;
	height:400px;
	margin-top: 20px;
	margin-bottom:20px;
	padding:10px;
    -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
            border-radius: 6px;
}

.logo {
float: left;
padding: -10px -20px -10px;
margin-left: 20;
}