<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>animasjon</title>
  <link href="divanim.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="anim view-3D set-speed zoom-large">
    <div id="lerret" class="scale-stretched">
        <div id="situasjon" class="divid"> <div id="aktivitet1" class="bane">
            <div class="pos">
              <div class="objekt">
              </div>
            </div>
          </div>
          <div id="aktivitet2" class="bane">
            <div class="pos">
              <div class="objekt">
              </div>
            </div>
          </div>
          <div id="aktivitet3" class="bane">
            <div class="pos">
              <div class="bane">
                <div class="pos">
                  <div class="satelitt"></div>
                </div>
              </div>
              <div class="objekt">
              </div>
            </div>
          </div>
          <div id="aktivitet4" class="bane">
            <div class="pos">
              <div class="objekt">
              </div>
            </div>
          </div>
          <div id="aktivitet5" class="bane">
            <div class="pos">
              <div class="objekt">
              </div>
            </div>
          </div>
          <div id="aktivitet6" class="bane">
            <div class="pos">
              <div class="objekt">
                <div class="ring"></div>
              </div>
            </div>
          </div>
          <div id="aktivitet7" class="bane">
            <div class="pos">
              <div class="objekt">
              </div>
            </div>
          </div>
          <div id="aktivitet8" class="bane">
            <div class="pos">
              <div class="objekt">
              </div>
            </div>
          </div>
          <div id="aktivitet9" class="bane">
            <div class="pos">
              <div class="objekt">
              </div>
            </div>
          </div>
          <div id="aktivitet10" class="bane">
            <div class="pos">
              <div class="objekt">
              </div>
            </div>
          </div>
          <div id="divid">
          </div>
        </div>
    </div>
</div>
</body>
</html>