<% include templates/header %>
</head>
<body>

    <% include templates/navbar %>

    <!-- Wrapper
    ================================================== -->
<div class="container" id="wrapper">
    <h1>Kontakt oss</h1>
    <h3>Support</h3>
        <p>Se gjerne igjennom vår <a href="https://divid.no/faq">faq</a> - ofte stilte spørsmål - før dere sender mail på support(at)divid.no.</p>
    <h3>Business</h3>
        <p>Ønsker du å kontakte oss for kjøp av annonseplass, forretninger og lignende ta kontakt på hallo(at)divid.no.</p>
<% include templates/footer %>
</body>
</html>
