<% include templates/header %>
</head>
<body>

    <% include templates/navbar %>

    <!-- Wrapper
    ================================================== -->
<div class="container" id="wrapper">
    <h1>Ofte stilte spørsmål</h1>

    <ul class="unstyled">
        <li><i class="icon-question-sign"></i> <a href="#faq1">Hvor kan jeg få tak i appen?</a></li>
        <li><i class="icon-question-sign"></i> <a href="#faq2">Hvilke mobiltelefoner støtter Divid?</a></li>
        <li><i class="icon-question-sign"></i> <a href="#faq3">Hvem eier dataene min?</a></li>
        <li><i class="icon-question-sign"></i> <a href="#faq4">Hvor sikkert er Divid? Kan uvedkommede få tak i dataene mine?</a></li>
        <li><i class="icon-question-sign"></i> <a href="#faq5">Kan jeg invitere folk som ikke er registrert?</a></li>
        <li><i class="icon-question-sign"></i> <a href="#faq6">Savner muligheten til å eksportere prosjektene til excel, pdf eller csv.</a></li>
        <li><i class="icon-question-sign"></i> <a href="#faq7">Deltakerene vil ikke betale tilbake det de skylder!</a></li>
        <li><i class="icon-question-sign"></i> <a href="#faq8">Jeg delegerte ut administratorroller til andre deltakere, men det er full uenighet og prosjektet blir redigert - ingen vet hvem som skylder hvem hva</a></li>
        <li><i class="icon-question-sign"></i> <a href="#faq9">Jeg får ikke varslinger fra Divid</a></li>
        <li><i class="icon-question-sign"></i> <a href="#faq10">Jeg har lastet ned gratisversjonen, men vil ikke ha reklame - på app eller nettside?! Hva kan jeg gjøre?</a></li>
        <li><i class="icon-question-sign"></i> <a href="#faq11">Jeg har alt kjøpt premiumversjonen, men slettet applikasjonen. Må jeg betale på nytt?</a></li>
        <li><i class="icon-question-sign"></i> <a href="#faq12">Jeg har andre spørsmål enn det som står her. Hvor henvender jeg meg?</a></li>
        <li><i class="icon-question-sign"></i> <a href="#faq13">Jeg representerer interesser som ønsker å investere eller kjøpe tjenesten Divid. Hvor henvender jeg meg?</a></li>
        <li><i class="icon-question-sign"></i> <a href="#faq14">jeg vil ikke at mine data skal være lagret på serveren lengre. Kan jeg slette selv eller gjør dere det?</a></li>
        <li><i class="icon-question-sign"></i> <a href="#faq15">Jeg vil ha tilbake pengene mine</a></li>
    </ul>

    <p>
        <strong><a class="disabled" id="faq1">Hvor kan jeg få tak i appen?</a></strong><br>
        <i class="icon-info-sign"></i> Applikasjonen er tilgjengelig gjennom App Store. Den blir tilgjengelig gjennom Google Play og Windows Mobile Store etterhvert.
    </p>

    <p>
        <strong><a class="disabled" id="faq2">Hvilke mobiltelefoner støtter Divid?</a></strong><br>
        <i class="icon-info-sign"></i> Divid støtter Iphone, Android, Windows mobile og Blackberry
    </p>


    <p>
        <strong><a class="disabled" id="faq3">Hvem eier dataene min?</a></strong><br>
        <i class="icon-info-sign"></i> Brukerenes data er brukerenes eie og de skal misbrukes. Personvernet skal opprettholdes i forhold til Norsk lov.
    </p>

    <p>
        <strong><a class="disabled" id="faq4">Hvor sikkert er Divid? Kan uvedkommede få tak i dataene mine?</a></strong><br>
        <i class="icon-info-sign"></i> Veldig.
    </p>

    <p>
        <strong><a class="disabled" id="faq5">Kan jeg invitere folk som ikke er registrert?</a></strong><br>
        <i class="icon-info-sign"></i> Ja, man kan invitere folk når prosjekt opprettes ved å fylle inn mailadressen deres. De får da en mailinvitasjon.
    </p>

    <p>
        <strong><a class="disabled" id="faq6">Savner muligheten til å eksportere prosjektene til excel, pdf eller csv.</a></strong><br>
        <i class="icon-info-sign"></i> Denne funksjonaliteten kommer og mer! Følg oss på Facebook for å få oppdateringer.
    </p>

    <p>
        <strong><a class="disabled" id="faq7">Deltakerene vil ikke betale tilbake det de skylder!</a></strong><br>
        <i class="icon-info-sign"></i> Man velger sine venner selv. Dette er en webtjeneste. Innkreving er et individuelt ansvar og her ligger tjenestens begrensning.
    </p>

    <p>
        <strong><a class="disabled" id="faq8">Jeg delegerte ut administratorroller til andre deltakere, men det er full uenighet og prosjektet blir redigert - ingen vet hvem som skylder hvem hva</a></strong><br>
        <i class="icon-info-sign"></i> Du er prosjektets eier og kan frata de administratorrollene i prosjektets innstillinger.
    </p>

    <p>
        <strong><a class="disabled" id="faq9">Jeg får ikke varslinger fra Divid</a></strong><br>
        <i class="icon-info-sign"></i> Du må sjekke prosjektets innstillinger om den funksjonaliteten er skrudd på. Er ikke det tilfelle, ta kontakt med oss gjennom Facebook likepagen vår eller på mail
    </p>

    <p>
        <strong><a class="disabled" id="faq10">Jeg har lastet ned gratisversjonen, men vil ikke ha reklame - på app eller nettside?! Hva kan jeg gjøre?</a></strong><br>
        <i class="icon-info-sign"></i> Kjøp premium versjonen av Divid. Da slipper du reklame for alltid og blir prioritert i servicesystemet vårt. Det er bare 35 kroner.
    </p>

    <p>
        <strong><a class="disabled" id="faq11">Jeg har alt kjøpt premiumversjonen, men slettet applikasjonen. Må jeg betale på nytt?</a></strong><br>
        <i class="icon-info-sign"></i> Nei, premium versjonen er til odel og eie. Den følger mailadressen din så det er bare å laste den ned igjen på nytt og logge inn med samme mailadresse.
    </p>

    <p>
        <strong><a class="disabled" id="faq12">Jeg har andre spørsmål enn det som står her. Hvor henvender jeg meg?</a></strong><br>
        <i class="icon-info-sign"></i> Du kan nå oss gjennom Facebook siden vår, forumet eller kontaktsiden. Disse lenkene finner du på toppen av siden.
    </p>

    <p>
        <strong><a class="disabled" id="faq13">Jeg representerer interesser som ønsker å investere eller kjøpe tjenesten Divid. Hvor henvender jeg meg?</a></strong><br>
        <i class="icon-info-sign"></i> Via kontaktsiden på toppen av siden her
    </p>

    <p>
        <strong><a class="disabled" id="faq14">jeg vil ikke at mine data skal være lagret på serveren lengre. Kan jeg slette selv eller gjør dere det?</a></strong><br>
        <i class="icon-info-sign"></i> Du har muligheten til å slette selv.
    </p>

    <p>
        <strong><a class="disabled" id="faq15">Jeg vil ha tilbake pengene mine</a></strong><br>
        <i class="icon-info-sign"></i> Det må du ta opp med butikken hvor du kjøpte applikasjonen.
    </p>


    <h4>Skulle du ha flere spørsmål sjekk forumet, se forum, Facebook like page eller kontakt oss på support(a)divid.no </h4>


</div><!-- /div#wrapper -->


    <% include templates/footer %>
</body>
</html>
