<% include templates/header %>

</head>
<body>

    <% include templates/navbar %>
    <div class="indexwrapper" id="index1">
        <div class="container">
            <div class="row-fluid">
                <div class="span5">
                    <h1><%= title %></h1>
                    <h4>Velkommen til <%= title %></h4>
                    <ul class="blue">
                        </li><h3><i class="icon-pencil"></i> Registrer deg gratis</h3></li>
                        </li><h3><i class="icon-play"></i> Opprett prosjekt</h3></li>
                        </li><h3><i class="icon-user"></i> Inviter deltakere</h3></li>
                        </li><h3><i class="icon-barcode"></i> Før inn utgiftene</h3></li>
                        </li><h3><i class="icon-ok"></i> Ta et oppgjør</h3></li>
                    </ul>
                    <p>Perfekt for venner, familie og bekjente!</p>
                    <a href="#register" class="btn btn-large btn-warning">Registrer deg!</a>
                </div>
                <div class="span7">
                    <img src="/img/dashboard.png">
                </div>
            </div>
        </div>
    </div>

    <div class="indexwrapper" id="index2">
        <div class="container">
            <div class="row-fluid">
                <div class="span4 infobox">
                    <img class="infoimg" src="/img/laptop.png">
                    <h4>Bruk mobil eller nettleser</h4>
                    <p>Divid er en webapplikasjon og kan brukes på pc, nettbrett og mobil. Uansett hva du bruker er Divid tilgjengelig.</p>
                </div>
                <div class="span4 infobox">
                    <img class="infoimg" src="/img/addpeople.png">
                    <h4>Inviter de du vil</h4>
                    <p>Inviter deltakere til prosjekt ved å legge til epost-adressen deres eller send dem en link!</p>
                </div>
                <div class="span4 infobox">
                    <img class="infoimg" src="/img/overwatch.png">
                    <h4>Få oversikt</h4>
                    <p>Ikke la delte utgifter gå i glemmeboken. Send påminnelser og få varsel når deltakere betaler.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="indexwrapper" id="index3">
        <div class="container">
            <h1>Hva kan Divid brukes til</h1>
            <div class="row-fluid">
                <div class="span3 infobox">
                    <img src="/img/student.png">
                    <h4>Studentkollektiv</h4>
                    <p>Fellesutgifter, fester, bøter, bursdager, øl, mat, strøm</p>
                </div>
                <div class="span3 infobox">
                    <img src="/img/fest.png">
                    <h4>Singelliv</h4>
                    <p>Ute på farten, stelle i stand aktiviter med andre, sydentur osv</p>
                </div>
                <div class="span3 infobox">
                    <img src="/img/par.png">
                    <h4>Parforhold</h4>
                    <p>I etableringsfasen som ønsker å ha ordnet økonomi fra starten av</p>
                </div>
                <div class="span3 infobox">
                    <img src="/img/omsorg.png">
                    <h4>Delt omsorg</h4>
                    <p>Klær, mat, medisiner og aktiviteter. Hvem betaler hva for barnet?</p>
                    <!--<p>klær, mat, reiser, aktiviteter, sport, skolebøker, tannlege, medisiner</p>--!>
                </div>
            </div>
        </div>
    </div>

    <div class="indexwrapper" id="index4">
        <div class="container">
            <div class="row-fluid">
                <div class="span7">
            <h1>Registrer deg i dag!</h1>
            <p>Du kan enten bruke <a href="/auth/facebook">Facebook</a> eller <a href="/auth/twitter">Twitter</a>, eller registrere deg med epost under!</p>
            <div class="control-group">
                <label class="control-label" for="name">Navn</label>
                <div class="controls">
                    <input type="text" id="reg_name" name="name" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="email">E-post</label>
                <div class="controls">
                    <input type="email" id="reg_email" name="email" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="username">Brukernavn</label>
                <div class="controls">
                    <input type="text" id="reg_username" name="username" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">Passord</label>
                <div class="controls">
                    <input type="password" id="reg_password" name="password" required>
                </div>
            </div>
            <div class="control-group">
                <div class="controls"><a id="register" class="hidden">a</a>
                    <input type="submit" class="btn btn-primary" value="Registrer!">
                </div>
            </div>

                </div>
                <div class="span5">
            <a href="https://itunes.apple.com/us/genre/ios-finance/id6015?mt=8"><img src="/img/iph.png" onmouseover="this.src='/img/iphoneA.png'" onmouseout="this.src='/img/iph.png'"></a>
            <a href="https://play.google.com/store"><img src="/img/android.png" onmouseover="this.src='/img/androidA.png'" onmouseout="this.src='/img/android.png'"></a>
            <a href="http://www.windowsphone.com/nb-no/store"><img src="/img/win.png" onmouseover="this.src='/img/winA.png'" onmouseout="this.src='/img/win.png'"></a>
                </div>
            </div>
        </div>
    </div>




<% include templates/footer %>
</body>
</html>
