<% include templates/header %>

</head>
<body>
    <% include templates/navbar %>

    <!-- Wrapper
    ================================================== -->
    <div class="container" id="wrapper">
    <div class="row-fluid">

    </div><!-- /div.row -->
    </div><!-- /div.#wrapper -->


<% include templates/footer %>
</body>
</html>
